@mixin trans-duration(N$time) {
    -webkit-transition-duration: N$time;
    transition-duration: N$time;
}

@mixin transition(N$value) {
    -webkit-transition: N$value;
    transition: N$value;
}

@mixin transform(N$value) {
    -webkit-transform: N$value;
    transform: N$value;
}

@mixin animation(N$value) {
    -webkit-animation: N$value;
    animation: N$value;
}

@mixin flex-direction(N$value) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: N$value;
    flex-direction: N$value;
}

@mixin align-items(N$value) {
    -webkit-box-align: N$value;
    -ms-flex-align: N$value;
    -ms-grid-row-align: N$value;
    align-items: N$value;
}

@mixin display-flex(N$value) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: N$value;
}

@mixin justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin flex(N$value) {
    -webkit-box-flex: 0;
    -ms-flex: N$value;
    flex: N$value;
}

@mixin flex-wrap(N$value) {
    -ms-flex-wrap: N$value;
      flex-wrap: N$value;
}